@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --white: #ffffff;
    --body: #79DAE8;
    --black: #000000;
    --navfoot: #000000
    
}

* {
    margin: 0;
    padding: 0;
}

.bg-red {
    background-color: red;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
    font-size: 1.8rem;
}

.navbar a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.navbar a:hover {
    color: red;
}

.nav-right a:hover,
.nav-right a:active {
    color: red;
    text-decoration: underline;
}

.nav-right {
    margin: 0;
}

.nav-right li {
    display: inline-block;
    font-size: 1.8rem;
}

.nav-right li a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

ul>li {
    padding-left: 30px;
    padding-right: 30px;
}

header {
    margin: 0;
    padding: 0;
    background-color: var(--navfoot);
}

body {
    background-color: var(--white);
    height: 100vh;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: var(--navfoot);
    color: var(--white);
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

footer a {
    text-decoration: none;
    color: var(--white);
}