@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
}

.bg-red {
    background-color: red;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
}

.nav-right a:hover,
.nav-right a:active {
    color: red;
    text-decoration: underline;
}

.nav-right {
    margin: 0;
}

.nav-right li {
    display: inline-block;
    font-size: 2rem;
}

.nav-right li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

ul>li {
    padding-left: 30px;
    padding-right: 30px;
}