{% extends "base.html" %}

{% block title %} Contact {% endblock %}

{% block content %}

<div class="con my-5">
    <img class="conimg" src="/static/img/contact.jpg" alt="contact">
</div>
<div class="mt-5">
    <form class="form" id="form" method="post" novalidate>
        <h1 class="text-center my-3">Connect with me</h1>
        <input type="text" id="fname" name="fname" placeholder="First Name" required>
        <input type="text" id="lname" name="lname" placeholder="Last Name" required>
        <input type="email" id="email" name="email" placeholder="Email Address" required>
        <input type="tel" id="phone" name="phone" placeholder="Phone No." required>
        <textarea rows="5" type="text" id="message" name="message" placeholder="Write your message here" required></textarea>
        <button type="submit" class="btn submit">Submit</button>
    </form>
</div>

{% endblock content %}