{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<!-- <h1 class="text-center my-3">Home Page</h1> -->
<div class="banner my-5">
    <!-- <h1 class="text-center my-3">banner</h1> -->
    <div class="info">
        <div class="info-content">
            <div class="greet"> Hello, I am </div>
            <div class="name"> Tejas Jogi </div>
            <div class="about">Web Developer, Programmer, Codder</div>
        </div>
    </div>
    <div class="img">
        <h2>
            Picture
        </h2>
    </div>
</div>
{% endblock content %}